:root{
  --primary: #1d1921;
  --secondary: #640f8f;
  --tertiary: #2b272d;
  --buttons: #39f1a9;
  --buttonsHover: #d03d85;
  --textColor: #fff;
}

.App {
  font-family: "Rubik", serif;
}

.navBarWrapper{
  display: flex;
  background-color: var(--secondary);
  flex-direction: row;
  height: 10vh;
}

.logo{
  width: 20vw;
  height: auto;
  margin-top: -6vh;
  margin-left: 5vw;
  position: fixed;
}

body{
  background-color: var(--primary);
  color: var(--textColor);
}