:root{
  --primary: #1d1921;
  --secondary: #640f8f;
  --tertiary: #2b272d;
  --buttons: #39f1a9;
  --buttonsHover: #d03d85;
  --textColor: #fff;
  --secondaryTextColor: #000;
}

.App {
  font-family: "Rubik", serif;
}

.navBarBackgroundTop{
  display: flex;
  background-color: var(--secondary);
  flex-direction: row;
  height: 10vh;
}

.navBarBackgroundBottom{
  display: flex;
  opacity: 100%;
  flex-direction: row;
  height: 5vh;
}

button{
  border-style: none;
  background-color: var(--buttons);
  color: var(--secondaryTextColor);
  padding: 2vw;
  border-radius: 5px;
  font-weight: bold;
}

.logo{
  width: 20vw;
  height: auto;
  margin-top: -6vh;
  margin-left: 5vw;
  position: fixed;
}

body{
  background-color: var(--primary);
  color: var(--textColor);
}